
html, body {
	min-width: 1122px;
	min-height: 1750px;
	margin: 0;
	padding: 0;
}
body {
	min-width: 960px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;	
	color: #ffffff;
	background: #000000 url(../img/barbershop-BG.jpg) no-repeat center top;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	background: #000000;
	color: #ffffff;
	margin: 0 0 60px 0; 
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;

}
.main-navigation {
	min-height: 70px;
	width: 780px;
	float: left;	
}
.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}
.main-navigation a {
	display: block;
	padding: 25px 20px;
	color: #ffffff;
	text-decoration: none;
}
.main-navigation a:hover {
	background-color: #242424;
}
.user-block {
	max-width: 140px;
	float: right;
}
.login {
	position: relative;
	display: inline-block;
	padding: 25px 20px 25px 50px;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
}
.login:hover {
	background-color: #242424;
}
.login::before {
	position: absolute;
	top: 28px;
	left: 20px;
	content: "";
	width: 18px;
	height: 18px;
	background: url("../img/sprite/spritesheet.png") no-repeat -15px -165px;
	opacity: 0.3;
}
.login:hover::before {
	opacity: 1;
}
.index-logo {
	height: 204px;
	width: 368px;
	margin: 0 auto 25px auto;
}
.index-logo img {
	height: 204px;
	width: 368px;
}
.features {
	margin: 0 0 80px 0;
}
.features-item {
	width: 300px;
	margin: 0 20px 0 0;
	float: left;
	text-align: center;
}
.features-item:last-child {
	margin: 0 0 0 0;
}
.features-name {
	display: block;
	position: relative;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 30px;
	padding-bottom: 35px;
}
.features-item p {
	margin: 10px 10px 0 10px;
}
.features-name::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color: #ffffff;
	transform: rotate(45deg);
}

.index-content {
	margin: 0 0 35px 0;
	background:
		 url(../img/shadow-center.png) no-repeat center,
	 #f8f5f2 url("../img/white-texture.jpg");
	color: #000000;
	padding: 50px 80px;
}
.index-content-left {
	width: 380px;
	min-height: 330px;
	float: left;
	margin: 0 100px 0 0;
}
.index-content-right {
	width: 300px;
	min-height: 330px;
	float: right;
}
.index-content-title {
	font-size: 30px;
	line-height: 42px;
	margin: 0 0 25px 0;
}
.index-content p {
	margin: 0 0 25px 0;
}
.news-preview {
	margin: 0;
	padding: 0 60px 0 0;
	list-style: none;
}
.news-preview li {
	margin: 0 0 25px 0;
}
.news-preview p {
	margin: 0 0 0 0;
}
.news-preview time {
	text-transform: none;
	font-weight: 400;
}
.btn {
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 10px 33px;

	color: #ffffff;
	background-color: #000000;
	border: none;
	outline: none;
	cursor: pointer;

	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: top;
	text-align: center;

}
.btn:hover, .btn:active {
	background-color: #663d15;
}
.btn:disabled, .btn:disabled {
	cursor: default;
	opacity: 0.5;
}
.btn.disabled:hover, .btn:disabled:hover {
	background-color: #000000;
}
.gallery {
	position: relative;
	height: 260px;
}
.gallery-content {
	height: 164px;
	margin: 0;

	background-color: #cccccc;
	border: 7px solid #ffffff;
}
.gallery-content img {
 	width: 286px;
 	height: 164px;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}
.gallery-prev {
	left: 0;
}
.gallery-next {
	right: 0;
}
.appointment-form input {
	float: left;
	width: 106px;
	padding: 7px 15px;
	margin: 0 20px 20px 0;

	background-color: #f9f6f3;
	border: 2px solid #000000;
	outline: none;

	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
}
.appointment-form input:focus {
	border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n) {
	margin: 0 0 0 0;
}
.appointment-form .btn {
	clear: both;
	width: 100%;
}

.main-footer {
	margin: 65px 0 0 0;
	padding: 60px 0 40px 0;
	color: #ffffff;
	background: #252525 url("../img/footer-texture.jpg");
}
.footer-contacts {
	width: 320px;
	float: left;
	margin: 0 60px 0 0;
	min-height: 90px;
}
.footer-contacts a {
	color: #ffffff;
}
.footer-contacts a:hover {
	text-decoration: none;
}
.footer-social {
	width: 180px;
	float: left;
	text-align: center;	
}
.footer-social p {
	margin: 0 0 15px 0;
}
.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #000000 url("../img/sprite/spritesheet.png") no-repeat center;
}
.social-btn-vk {
	background-position: -5px -103px;
}
.social-btn-fb {
	background-position: 0px -55px;
}
.social-btn-inst {
	background-position: -3px -3px;
}
.social-btn-vk:hover {
	background-color: #a1a1a1;
	background-position: -5px -103px;
}
.social-btn-fb:hover {
	background-color: #a1a1a1;
	background-position: 0px -55px;
}
.social-btn-inst:hover {
	background-color: #a1a1a1;
	background-position: -3px -3px;
}
.footer-copyright {
	max-width: 180px;
	float: right;
}
.footer-copyright p {
	margin: 0 0 15px 0;
	text-align: center;
}
.footer-copyright .btn{
	margin: 0;
}